<div>
    <mat-toolbar color="primary">
        <span class="app-title">Digikaz Test App</span>

        <span class="example-spacer"></span>

        <button mat-button (click)="navigateToHome()">
            Home
        </button>

        <button mat-button (click)="navigateToUsers()">
            Users
        </button>

        <button mat-button (click)="navigateToProperties()">
            Properties
        </button>

        <span class="example-spacer"></span>

        <button *ngIf="isLoged" mat-button (click)="navigateToLogout()">
            <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        </button>
        <button *ngIf="!isLoged" mat-button (click)="navigateToLogin()">
            <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
        </button>
    </mat-toolbar>
</div>